<div class="card" id="card">

  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{variable}}">
  </head>
  <div class="card-header">
    <textarea class="display-6" disabled wrap="off">{{variable}} </textarea>
    <button onclick="copyname()">Copy</button>
  </div>
  <div class="card-body">
    <textarea class="h4-Custom" id="maintext" style="font-family: '{{variable}}';">
      "Creativity knows no bounds, transcending barriers and embracing innovation. With each stroke of
      inspiration, a world of possibilities unfolds. Ideas bloom, melodies resonate, and words dance on the
      pages of creation. In this realm of boundless expression, originality flourishes, giving birth to
      timeless works that captivate hearts and minds. Let your imagination soar, for the beauty of art belongs
      to us all."
    </textarea>

  </div>

</div>